name: Release Plugin

on:
  push:
    tags:
      - "v*" # Triggers on tags like v1.0, v2024.1.0, etc.

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to create releases

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare
        run: |
          npm install

      - name: Test
        run: |
          npm run test

      - name: Build
        run: |
          npm install
          npm run build

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/retro-controlpanel-card.js
          # If your file is in a dist folder, use: dist/retro-controlpanel-card.js

          generate_release_notes: true
          draft: false
          prerelease: false
